body {
    background-image: url("../images/Jeff-Hanneman.jpg");
    background-size: cover;
    color: white;
}

h1 {
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
    padding: 20px;
    margin: 20px auto;
}

.underscore {
    font-size: 75px;
    text-align: center;
    padding: 20px;
    margin: 20px auto;
}

p {
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;

}

#score {
        margin: 20px auto;
        font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
}

#guesses {
    font-size: 25px;
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
    text-align: center;
}